<h1>Welcome to <span style="color:cadetblue;">Job Hunter</span></h1>
<p>
    Discover a smarter way to hire and get hired.
    <strong>Job Hunter</strong> is a dynamic, full-featured job portal , crafted to streamline the connection between top-tier talent and forward-thinking employers.
    Whether you're launching your career or scaling your team, Job Hunter delivers a fast, intuitive experience tailored to your goals.
</p>
